<!DOCTYPE html>
<html>
<head>
    <title>All types of cars</title>
</head>
<body>
    <h1>All types of cars</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for car_type in car_type %}
                <tr>
                    <td>{{ car_type.name }}</td>
                    <td>{{ car_type.brand }}</td>
                    <td>${{ car_type.price }}</td>
                </tr>
            {% empty %}

                <tr>
                    <td colspan="3">There are currently no car types available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
