<!DOCTYPE html>
<html>
<head>
    <title>Дилери та автомобілі</title>
</head>
<body>
    <h1>Список Дилерів</h1>
    <ul>
        {% for dealer in dealer %}
            <li>
                <strong>{{ dealer.name }}</strong><br>
                <em>Доступні Автомобілі:</em>
                <ul>
                    {% for car in dealer.available_car_types.all %}
                        <li>
                            {{ car.brand }} {{ car.name }}<br>
                            <em>Ціна: ${{ car.price }}</em>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <p></p>
        {% empty %}
            <p>Наразі немає доступних дилерів.</p>
        {% endfor %}
    </ul>
</body>
</html>
